body{
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.sectiontext h2{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.sectiontext p{
    color:#f49aba;
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 2;
}

.content {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#mainNavbar .navbar-brand{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2rem;
}
#mainNavbar .nav-link{
    color: #ffffff;
    font-weight: 100;
    font-size: 1.5rem;
}
#mainNavbar .nav-link:hover{
    color: #ea1c2c;
    font-weight: 100;
}

#headingGroup span{
    color: #ea1c2c;
}

.navbar.scrolled{
    background: rgb(222, 192, 222);
    transition: background 500ms;
    
}


@media (max-width: 1200px) {
    #headingGroup h1{
        font-size: 3rem;
        font-weight: 100;
    }

    .sectiontext h2{
        font-size: 2rem;
    }
}